<% layout('layouts/boilerplate')%>

<div class="row">
  <div class="col-6 offset-3">
    <div class="alert alert-danger" role="alert">
      <h4 class="alert-heading"><%=err.message%></h4>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab placeat,
        reiciendis voluptatum optio doloribus voluptatem suscipit. Vero nihil
        ratione natus.
      </p>
      <hr />
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure, animi!
      </p>
    </div>
  </div>
</div>
